%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%inlinecenter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

%button {
  position: relative;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  @extend %center;
}

%button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
